<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="crud" value="CertMSCRUD"/>
    <add key="crudSave" value="save"/>
    <add key="crudDelete" value="delete"/>
    <add key="crudUpdate" value="update"/>
    <add key="crudGetAll" value="getAll"/>
    <add key="search" value="CertMSSearch"/>
    <add key="searchCommand" value="search"/>
    <add key="game" value="CertMSGame"/>
    <add key="gameSign" value="sign"/>
    <add key="gameVerify" value="verify"/>
  </appSettings>
</configuration>